In [131]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [208]:
# Carreguei as 3 primeiras tabelas no banco de dados, tive o entendimento que os dados poderiam não
# a qualidade necessária e resolvi tratar as tabelas antes de colocar elas no banco.

# As tabelas tem respeitado as seguintes colunas:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]

DADO ESCOLAR 2019

In [209]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez19.csv', delimiter=';')

In [210]:
print(data.dtypes)

dre           object
codes          int64
tipoesc       object
nomesc        object
distrito      object
setor          int64
ano            int64
rede          object
modal         object
descserie     object
periodo       object
turno          int64
descturno     object
sexo          object
idade        float64
nee           object
raca          object
qtd            int64
database      object
dtype: object

In [211]:
data['idade'] = data['idade'].astype(int)

In [212]:
data.shape

(534975, 19)

In [213]:
data.head()

,dre,codes,tipoesc,nomesc,distrito,setor,ano,rede,modal,descserie,periodo,turno,descturno,sexo,idade,nee,raca,qtd,database
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,F,13,NAO POSSUI,BRANCA,1,27/12/2019
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,BRANCA,2,27/12/2019
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,PARDA,1,27/12/2019
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,RECUSOU INFORMAR,1,27/12/2019
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,13,NAO POSSUI,BRANCA,1,27/12/2019

In [214]:
data.rename(columns={'dre' : 'DRE',
                     'codes' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'ano' : 'ANO',
                     'rede' : 'REDE',
                     'modal' : 'MODAL',
                     'descserie' : 'DESCSERIE',
                     'periodo' : 'PERIODO',
                     'turno' : 'TURNO',
                     'descturno' : 'DESCTURNO',
                     'sexo' : 'SEXO',
                     'idade' : 'IDADE',
                     'nee' : 'NEE',
                     'raca' : 'RACA',
                     'qtd' : 'QTDE',
                     'database' : 'DATABASE',
                    }, inplace=True)

In [215]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

np.int64(0)

In [216]:
blank_columns = data.isnull().sum()
print(blank_columns)

DRE             0
CODESC          0
TIPOESC         0
NOMESC          0
DISTRITO        0
SETOR           0
ANO             0
REDE         8445
MODAL           0
DESCSERIE       0
PERIODO         0
TURNO           0
DESCTURNO       0
SEXO            0
IDADE           0
NEE             0
RACA           74
QTDE            0
DATABASE        0
dtype: int64

In [217]:
total = data['QTDE'].sum()

filtered_rede = (data['REDE'] == 'DIR')
filtered_rede = data[filtered_rede]
qtde_rede = filtered_rede['QTDE'].sum()

print(qtde_rede/total) # Olhando quantos % tem dir como rede

0.7644615193267091

In [218]:
data.fillna({'RACA': 'NAO INFORMADA'}, inplace=True) # Utilizando classificações que já existiam no dataset
data.fillna({'REDE': 'DIR'}, inplace=True) # Setei tudo com DIR porque era uma classe muito predominante

In [219]:
blank_columns = data.isnull().sum()
print(blank_columns)

DRE          0
CODESC       0
TIPOESC      0
NOMESC       0
DISTRITO     0
SETOR        0
ANO          0
REDE         0
MODAL        0
DESCSERIE    0
PERIODO      0
TURNO        0
DESCTURNO    0
SEXO         0
IDADE        0
NEE          0
RACA         0
QTDE         0
DATABASE     0
dtype: int64

In [220]:
data.describe()

,CODESC,SETOR,ANO,TURNO,IDADE,QTDE
count,534975.000000,534975.000000,534975.0,534975.000000,534975.000000,534975.000000
mean,203780.271839,4676.910093,2019.0,3.308207,14.899517,3.381513
std,210802.900712,2624.286317,0.0,1.914513,15.807317,4.431808
min,86.000000,101.000000,2019.0,1.000000,0.000000,1.000000
25%,19631.000000,2405.000000,2019.0,1.000000,5.000000,1.000000
50%,94633.000000,4208.000000,2019.0,3.000000,11.000000,2.000000
75%,308454.000000,6902.000000,2019.0,5.000000,15.000000,4.000000
max,700045.000000,9608.000000,2019.0,6.000000,119.000000,92.000000

In [221]:
data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 30, 40, 50, 60, 100, 110, 120], right=False)

print(data['age_range'].value_counts())

# Por ser o primeiro dataset que eu peguei para analisar os dados, resolvi ver um pouco sobre essas idades.

age_range
[3, 4)        34650
[2, 3)        33629
[11, 12)      33299
[12, 13)      32077
[13, 14)      31462
[14, 15)      31360
[4, 5)        30568
[10, 11)      29937
[16, 20)      29436
[15, 16)      25895
[1, 2)        24872
[9, 10)       24497
[5, 6)        24299
[40, 50)      21000
[8, 9)        19372
[20, 30)      18992
[6, 7)        18663
[60, 100)     17886
[50, 60)      17701
[30, 40)      17016
[7, 8)        14550
[0, 1)         3781
[110, 120)       32
[100, 110)        1
Name: count, dtype: int64

In [222]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()

print(qtde_age/total)
# Pensando na regra de negócio, acho que seja mais interessante trabalhar em cima do público 
# -19 anos, tendo em vista que representam mais de 93% dos estudantes. 
# (Pode se ter a abordagem de dados espúrio, o que claramente vai ter, mas resolvi tratar eliminando.)

data = filtered_age

data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 120], right=False)

print(data['age_range'].value_counts())

data = data.drop(['age_range'], axis=1)

0.9331120354887301
age_range
[3, 4)       34650
[2, 3)       33629
[11, 12)     33299
[12, 13)     32077
[13, 14)     31462
[14, 15)     31360
[4, 5)       30568
[10, 11)     29937
[16, 20)     29436
[15, 16)     25895
[1, 2)       24872
[9, 10)      24497
[5, 6)       24299
[8, 9)       19372
[6, 7)       18663
[7, 8)       14550
[0, 1)        3781
[20, 120)        0
Name: count, dtype: int64

In [223]:
data.describe()

,CODESC,SETOR,ANO,TURNO,IDADE,QTDE
count,442347.000000,442347.000000,442347.0,442347.000000,442347.000000,442347.000000
mean,171041.733282,4713.806518,2019.0,3.259486,8.623151,3.816061
std,179099.539881,2643.082425,0.0,1.956202,4.914302,4.746535
min,86.000000,101.000000,2019.0,1.000000,0.000000,1.000000
25%,19463.000000,2501.000000,2019.0,1.000000,4.000000,1.000000
50%,94200.000000,4208.000000,2019.0,3.000000,9.000000,2.000000
75%,307747.000000,7102.000000,2019.0,6.000000,13.000000,4.000000
max,700045.000000,9608.000000,2019.0,6.000000,19.000000,92.000000

In [224]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,F,13,NAO POSSUI,BRANCA,1,27/12/2019
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,BRANCA,2,27/12/2019
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,PARDA,1,27/12/2019
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12,NAO POSSUI,RECUSOU INFORMAR,1,27/12/2019
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,13,NAO POSSUI,BRANCA,1,27/12/2019

In [225]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez19T.csv', index=False, sep=';', encoding='utf-8')

DADO ESCOLAR 2020

In [238]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez20.csv', delimiter=';')
data.shape

(357201, 19)

In [239]:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]

data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,Qtde,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [240]:
print(data.dtypes)

DRE           object
CODESC         int64
TIPOESC       object
NOMESC        object
DISTRITO      object
SETOR          int64
ANO            int64
REDE          object
MODAL         object
DESCSERIE     object
PERIODO       object
TURNO          int64
DESCTURNO     object
SEXO          object
IDADE        float64
NEE           object
RACA          object
Qtde           int64
DATABASE      object
dtype: object

In [241]:
data.rename(columns={'Qtde' : 'QTDE'}, inplace=True)
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [242]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE            0
CODESC         0
TIPOESC        0
NOMESC         0
DISTRITO       0
SETOR          0
ANO            0
REDE           0
MODAL          0
DESCSERIE      0
PERIODO        0
TURNO          0
DESCTURNO      0
SEXO         482
IDADE        482
NEE            0
RACA           0
QTDE           0
DATABASE       0
dtype: int64

In [243]:
total = data['QTDE'].sum()

blank_lines = data.isnull().any(axis=1)
blank_data = data[blank_lines]
qtde_blank = blank_data['QTDE'].sum()

print(qtde_blank/total) # Por ser menos de 1%, vou dropar quem está com essas infomações brancas

data.dropna(inplace=True)

data['IDADE'] = data['IDADE'].astype(int)

0.015355532217211343

In [244]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()
total = data['QTDE'].sum()

print(qtde_age/total)

0.9458617029019151

In [245]:
data = filtered_age

data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 120], right=False)

print(data['age_range'].value_counts())

data = data.drop(['age_range'], axis=1)

age_range
[3, 4)       28960
[2, 3)       27703
[4, 5)       25961
[1, 2)       21250
[16, 20)     19644
[5, 6)       19353
[13, 14)     18592
[12, 13)     18563
[11, 12)     18373
[14, 15)     18093
[10, 11)     16852
[6, 7)       14735
[15, 16)     14605
[9, 10)      14215
[8, 9)       11677
[7, 8)        9680
[0, 1)        4771
[20, 120)        0
Name: count, dtype: int64

In [246]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [247]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez20T.csv', index=False, sep=';', encoding='utf-8')

DADO ESCOLAR 2021

In [256]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez21.csv', delimiter=';')
data.shape

(293817, 19)

In [257]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,Qtde,DATABASE
0,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,5.0,NAO POSSUI,BRANCA,1,31/12/2021
1,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PARDA,1,31/12/2021
2,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PRETA,1,31/12/2021
3,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,BRANCA,3,31/12/2021
4,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,NÃO DECLARADA,2,31/12/2021

In [258]:
# As tabelas tem respeitado as seguintes colunas:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]
data.rename(columns={'Qtde' : 'QTDE',}, inplace=True)
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,5.0,NAO POSSUI,BRANCA,1,31/12/2021
1,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PARDA,1,31/12/2021
2,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PRETA,1,31/12/2021
3,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,BRANCA,3,31/12/2021
4,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,NÃO DECLARADA,2,31/12/2021

In [259]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE              0
CODESC           0
TIPOESC          0
NOMESC           0
DISTRITO         0
SETOR            0
ANO              0
REDE             0
MODAL        22424
DESCSERIE        6
PERIODO          0
TURNO            0
DESCTURNO        0
SEXO            39
IDADE           21
NEE              0
RACA           737
QTDE             0
DATABASE         0
dtype: int64

In [260]:
total = data['QTDE'].sum()

blank_lines = data.isnull().any(axis=1)
blank_data = data[blank_lines]
qtde_blank = blank_data['QTDE'].sum()

print(qtde_blank/total) # Menos de 2% do dataset está em branco, então, vou apagar os dados.

data.dropna(inplace=True)

0.02344130660208141

In [261]:
data['IDADE'] = data['IDADE'].astype(int)

filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()

print(qtde_age/total)

0.9556883830842589

In [262]:
data = filtered_age

data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 120], right=False)

print(data['age_range'].value_counts())

data = data.drop(['age_range'], axis=1)

age_range
[2, 3)       27979
[3, 4)       27965
[4, 5)       25945
[1, 2)       22205
[5, 6)       16869
[6, 7)       13527
[16, 20)     10918
[14, 15)     10490
[13, 14)     10202
[12, 13)     10115
[11, 12)     10064
[10, 11)      9123
[9, 10)       8748
[8, 9)        8287
[15, 16)      8117
[7, 8)        7956
[0, 1)        6360
[20, 120)        0
Name: count, dtype: int64

In [263]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez21T.csv', index=False, sep=';', encoding='utf-8')

DADO ESCOLAR 2022

In [ ]:
def load_data(file_path):
    return pd.read_csv(file_path)

def analyze_blank_data(data):
    blank_lines = data.isnull().all(axis=1)
    blank_total = blank_lines.sum()
    blank_columns = data.isnull().sum()

    print(f"Linhas em Branco: {blank_total}")
    print(f"Branco por coluna:\n{blank_columns}")

    return blank_total, blank_columns

def remove_blank_data(data):
    total = data['QTDE'].sum()
    blank_lines = data.isnull().any(axis=1)
    blank_data = data[blank_lines]
    qtde_blank = blank_data['QTDE'].sum()

    print(qtde_blank / total)
    if (qtde_blank / total) < 0.02:
        data.dropna(inplace=True)
        
    return data

def filter_by_age(data):
    total = data['QTDE'].sum()
    filtered_age = data['IDADE'] < 20
    filtered_data = data[filtered_age]
    qtde_age = filtered_data['QTDE'].sum()

    print(qtde_age / total)
    return filtered_data

def categorize_age_range(data):
    data['age_range'] = pd.cut(
        data['IDADE'], 
        bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 120], 
        right=False
    )
    print(data['age_range'].value_counts())

    
    return data

def main_pipeline(file_path):
    data = load_data(file_path)
    analyze_blank_data(data)
    data = remove_blank_data(data)
    data = filter_by_age(data)
    data = categorize_age_range(data)
    
    return data

# Nessa parte eu fiz uma pipeline para tratar os dados no mesmo padrão que eu vinha
# tratando as outras tabelas, mas por entender que no negócio da USE, cada dado vai
# vir de uma forma diferente, preferi por fazer a abordagem tabela a tabela, entendendo
# que cada tabela é diferente e merece seu tratamento indivídual.

In [142]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez22.csv', delimiter=';')
data.shape

(621490, 19)

In [143]:
print(data.dtypes)

DRE          object
CODESC        int64
TIPOESC      object
NOMESC       object
DISTRITO     object
SETOR         int64
ANO           int64
REDE         object
MODAL        object
DESCSERIE    object
PERIODO      object
TURNO         int64
DESCTURNO    object
SEXO         object
IDADE         int64
NEE          object
RACA         object
Qtde          int64
DATABASE     object
dtype: object

In [144]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,Qtde,DATABASE
0,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,BRANCA,3,30/12/2022 00:00
1,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,NÃO DECLARADA,1,30/12/2022 00:00
2,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,PARDA,6,30/12/2022 00:00
3,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,6,NAO POSSUI,BRANCA,2,30/12/2022 00:00
4,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,6,NAO POSSUI,PARDA,1,30/12/2022 00:00

In [145]:
data.rename(columns={'Qtde' : 'QTDE'}, inplace=True)
data['DATABASE'] = '30/12/2022'
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,BRANCA,3,30/12/2022 00:00
1,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,NÃO DECLARADA,1,30/12/2022 00:00
2,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,5,NAO POSSUI,PARDA,6,30/12/2022 00:00
3,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,6,NAO POSSUI,BRANCA,2,30/12/2022 00:00
4,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,3103,2022,DIR,PRE,INFANTIL UNIF,DIURNO,1,Manhã,F,6,NAO POSSUI,PARDA,1,30/12/2022 00:00

In [148]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE          0
CODESC       0
TIPOESC      0
NOMESC       0
DISTRITO     0
SETOR        0
ANO          0
REDE         0
MODAL        0
DESCSERIE    0
PERIODO      0
TURNO        0
DESCTURNO    0
SEXO         0
IDADE        0
NEE          0
RACA         0
QTDE         0
DATABASE     0
dtype: int64

In [149]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()

print(qtde_age/total)

0.9475436856242652

In [150]:
data = filtered_age

In [153]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez22T.csv', index=False, sep=';', encoding='utf-8')

In [264]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez23.csv', delimiter=';')
data.shape

(169100, 18)

In [265]:
print(data.dtypes)

DRE          object
CODESC        int64
TIPOESC      object
NOMESC       object
DISTRITO     object
SETOR         int64
ANO           int64
REDE         object
MODAL        object
DESCSERIE    object
PERIODO      object
TURNO         int64
DESCTURNO    object
SEXO         object
IDADE         int64
NEE          object
Qtde          int64
DATABASE     object
dtype: object

In [266]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,Qtde,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.II 6.ANO F9,Diurno,1,Manhã,M,13,NAO POSSUI,1,25/12/2023 00:00
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.II 6.ANO F9,Diurno,1,Manhã,M,14,NAO POSSUI,1,25/12/2023 00:00
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,12,NAO POSSUI,8,25/12/2023 00:00
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,13,NAO POSSUI,22,25/12/2023 00:00
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,13,DEFICIENCIA INTELECTUAL,1,25/12/2023 00:00

In [267]:
data.rename(columns={'Qtde' : 'QTDE'}, inplace=True)
data['DATABASE'] = '25/12/2023'
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.II 6.ANO F9,Diurno,1,Manhã,M,13,NAO POSSUI,1,25/12/2023
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.II 6.ANO F9,Diurno,1,Manhã,M,14,NAO POSSUI,1,25/12/2023
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,12,NAO POSSUI,8,25/12/2023
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,13,NAO POSSUI,22,25/12/2023
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2023,DIR,FUND,C.III 7.ANO F9,Diurno,1,Manhã,F,13,DEFICIENCIA INTELECTUAL,1,25/12/2023

In [268]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE          0
CODESC       0
TIPOESC      0
NOMESC       0
DISTRITO     0
SETOR        0
ANO          0
REDE         0
MODAL        0
DESCSERIE    0
PERIODO      0
TURNO        0
DESCTURNO    0
SEXO         0
IDADE        0
NEE          0
QTDE         0
DATABASE     0
dtype: int64

In [269]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()


print(total - qtde_age)
print(qtde_age/total)

73851
0.9396589407734173

In [272]:
data = filtered_age

# Quando estava carregando o DB, deu um erro que dizia que existia essa data na coluna idade
error_line = data.loc[data['IDADE'] == '25/12/2023']
print(error_line)

Empty DataFrame
Columns: [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, DESCSERIE, PERIODO, TURNO, DESCTURNO, SEXO, IDADE, NEE, QTDE, DATABASE]
Index: []

In [271]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez23T.csv', index=False, sep=';', encoding='utf-8')

In [167]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeraca-r33.csv', delimiter=';')
data.shape

(374610, 21)

In [168]:
print(data.dtypes)

DRE          object
CODESC        int64
TIPOESC      object
NOMESC       object
DISTRITO     object
SETEDU        int64
ANO           int64
REDE         object
MODAL        object
MODALID      object
SERIEV       object
DESCSERIE    object
PERIODO      object
TURNO         int64
DESCTURNO    object
SEXO         object
IDADE         int64
NEE          object
RACA         object
QTDE          int64
DATABASE     object
dtype: object

In [170]:
data.rename(columns={'SETEDU' : 'SETOR'}, inplace=True)
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,MODALID,...,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2016,DIR,ATCOMP,ATCOMP,...,JOGOS EDUCATIVO,DIURNO,3,Tarde,F,12,NAO POSSUI,PARDA,2,30/09/2016
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2016,DIR,ATCOMP,ATCOMP,...,JOGOS EDUCATIVO,DIURNO,3,Tarde,F,13,NAO POSSUI,NÃO DECLARADA,1,30/09/2016
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2016,DIR,ATCOMP,ATCOMP,...,JOGOS EDUCATIVO,DIURNO,3,Tarde,F,15,NAO POSSUI,PARDA,1,30/09/2016
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2016,DIR,ATCOMP,ATCOMP,...,JOGOS EDUCATIVO,DIURNO,3,Tarde,M,11,NAO POSSUI,NÃO DECLARADA,1,30/09/2016
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2016,DIR,ATCOMP,ATCOMP,...,JOGOS EDUCATIVO,DIURNO,3,Tarde,M,11,NAO POSSUI,PARDA,1,30/09/2016

In [171]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE             0
CODESC          0
TIPOESC         0
NOMESC          0
DISTRITO        0
SETOR           0
ANO             0
REDE            0
MODAL           0
MODALID         0
SERIEV          0
DESCSERIE       0
PERIODO         0
TURNO           0
DESCTURNO       0
SEXO            0
IDADE           0
NEE             0
RACA         3072
QTDE            0
DATABASE        0
dtype: int64

In [172]:
data.fillna({'RACA': 'NAO INFORMADA'}, inplace=True)

In [173]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()


print(total - qtde_age)
print(qtde_age/total)

82420
0.9352141815071939

In [174]:
data = filtered_age

In [175]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeraca-r33T.csv', index=False, sep=';', encoding='utf-8')