Vou tratar apenas de 2016 para a frente, que é a data que temos dados da outra tabela

In [31]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
data = pd.read_csv('data/Escolas/escolasr34.csv', delimiter=';')

In [33]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DIRETORIA,SUBPREF,CEU,ENDERECO,NUMERO,BAIRRO,...,DTURNOS12,DTURNOS11,DTURNOS10,DTURNOS09,DTURNOS08,DTURNOS07,LATITUDE,LONGITUDE,REDE,DATABASE
0,BT,200758,CCA,CCA - UNIDADE III,BUTANTA,BUTANTA,NaN,RUA EUDORO LINCOLN BERLINCK,346,JARDIM ARPOADOR,...,NaN,NaN,NaN,NaN,NaN,NaN,-23595965.0,-46792261.0,NaN,30/09/2016
1,BT,200417,CCA,CENTRO JUVENIL SALESIANO DOM BOSCO,BUTANTA,PINHEIROS,NaN,RUA PIO XI,1380,ALTO DA LAPA,...,NaN,NaN,NaN,NaN,NaN,NaN,-23540346.0,-46716525.0,NaN,30/09/2016
2,BT,200399,CCA,CLARICE FERRAZ WEY,BUTANTA,BUTANTA,NaN,RUA CARLANTONIO CARLONE,102,JARDIM JAQUELINE,...,NaN,NaN,NaN,NaN,NaN,NaN,-23592064.0,-46752447.0,NaN,30/09/2016
3,BT,200270,CCA,EDUCANDARIO DOM DUARTE,BUTANTA,BUTANTA,NaN,AVENIDA DOUTOR HEITOR ANTONIO EIRAS GARCIA,5985,JARDIM ESMERALDA,...,NaN,NaN,NaN,NaN,NaN,NaN,-23607320.0,-46803792.0,NaN,30/09/2016
4,BT,200402,CCA,FREI LUIZ AMIGO - CEFLA,BUTANTA,BUTANTA,NaN,RUA LUIZ LOPEZ COELHO,300,JARDIM CENTENARIO,...,NaN,NaN,NaN,NaN,NaN,NaN,-23576084.0,-46749293.0,NaN,30/09/2016

In [34]:
blank_columns = data.isnull().all(axis=0)
blank_total = blank_columns.sum()
blank_total

np.int64(0)

In [35]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
DIRETORIA       object
SUBPREF         object
CEU             object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_FUNC     object
DT_AUTORIZA     object
NOME_ANT        object
T2D3D           object
T2D3D15         object
T2D3D14         object
T2D3D13         object
T2D3D12         object
T2D3D11         object
T2D3D10         object
T2D3D09         object
T2D3D08         object
T2D3D07         object
DTURNOS         object
DTURNOS15       object
DTURNOS14       object
DTURNOS13       object
DTURNOS12       object
DTURNOS11       object
DTURNOS10       object
DTURNOS09       object
DTURNOS08       object
DTURNOS07       object
LATITUDE       float64
LONGITUDE      float64
REDE            object
DATABASE        object
dtype: object

In [36]:
data.drop(['T2D3D', 'T2D3D07', 'T2D3D08', 'T2D3D09', 'T2D3D10', 'T2D3D11', 'T2D3D12', 'T2D3D13', 'T2D3D14', 'T2D3D15',
                 'DTURNOS', 'DTURNOS07', 'DTURNOS08', 'DTURNOS09', 'DTURNOS10', 'DTURNOS11', 'DTURNOS12', 'DTURNOS13', 'DTURNOS14', 'DTURNOS15'], axis=1, inplace=True)

In [37]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DIRETORIA,SUBPREF,CEU,ENDERECO,NUMERO,BAIRRO,...,DT_CRIACAO,ATO_CRIACAO,DOM_CRIACAO,DT_INI_FUNC,DT_AUTORIZA,NOME_ANT,LATITUDE,LONGITUDE,REDE,DATABASE
0,BT,200758,CCA,CCA - UNIDADE III,BUTANTA,BUTANTA,NaN,RUA EUDORO LINCOLN BERLINCK,346,JARDIM ARPOADOR,...,01/03/2015,201401543991,01/03/2015,NaN,NaN,NaN,-23595965.0,-46792261.0,NaN,30/09/2016
1,BT,200417,CCA,CENTRO JUVENIL SALESIANO DOM BOSCO,BUTANTA,PINHEIROS,NaN,RUA PIO XI,1380,ALTO DA LAPA,...,01/04/2013,2013.0.002.139.6,01/04/2013,NaN,NaN,NaN,-23540346.0,-46716525.0,NaN,30/09/2016
2,BT,200399,CCA,CLARICE FERRAZ WEY,BUTANTA,BUTANTA,NaN,RUA CARLANTONIO CARLONE,102,JARDIM JAQUELINE,...,01/04/2013,2013.0.002.135.3,01/04/2013,NaN,NaN,NaN,-23592064.0,-46752447.0,NaN,30/09/2016
3,BT,200270,CCA,EDUCANDARIO DOM DUARTE,BUTANTA,BUTANTA,NaN,AVENIDA DOUTOR HEITOR ANTONIO EIRAS GARCIA,5985,JARDIM ESMERALDA,...,01/04/2013,2013.0.002.155.8,01/04/2013,NaN,NaN,NaN,-23607320.0,-46803792.0,NaN,30/09/2016
4,BT,200402,CCA,FREI LUIZ AMIGO - CEFLA,BUTANTA,BUTANTA,NaN,RUA LUIZ LOPEZ COELHO,300,JARDIM CENTENARIO,...,01/04/2013,2013.0.002.167.1,01/04/2013,NaN,NaN,NaN,-23576084.0,-46749293.0,NaN,30/09/2016

In [39]:
data.to_csv('data/Escolas/escolasr34T.csv', index=False, sep=';', encoding='utf-8')

In [61]:
data = pd.read_csv('data/Escolas/escolasr34dez2017.csv', delimiter=';')

In [62]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DIRETORIA,SUBPREF,CEU,ENDERECO,NUMERO,BAIRRO,...,DTURNOS12,DTURNOS11,DTURNOS10,DTURNOS09,DTURNOS08,DTURNOS07,LATITUDE,LONGITUDE,REDE,DATABASE
0,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,GUAIANASES,NaN,RUA FELICIANO DE MENDONÇA,502,JARDIM SÃO PAULO(ZONA LESTE),...,MT,MT,MT,MIV,MIV,MT,-23553905.0,-46398452.0,DIR,28-dez-17
1,FO,94,EMEI,VICENTE PAULO DA SILVA,FREGUESIA/BRASILANDIA,CASA VERDE/CACHOEIRINHA,NaN,RUA DOUTOR FLEURY SILVEIRA,295,VILA SANTA MARIA,...,MT,MT,MT,MIV,MIV,MIV,-23489728.0,-46670198.0,DIR,28-dez-17
2,MP,108,EMEF,"JOSE ERMIRIO DE MORAIS, SEN.",SAO MIGUEL,SAO MIGUEL,NaN,RUA SAO BRAS DO SUACUI,159,JARDIM HELENA,...,MTN,MTN,MTN,MTN,MIVN,MIVN,-23478312.0,-46427344.0,DIR,28-dez-17
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",BUTANTA,BUTANTA,NaN,AVENIDA JOAO CAIAFFA,140,JARDIM TABOAO,...,MT,MT,MT,MT,MT,MTN,-23612237.0,-46749888.0,DIR,28-dez-17
4,PJ,205,EMEBS,"VERA LUCIA APARECIDA RIBEIRO, PROFA.",PIRITUBA,PIRITUBA,NaN,RUA BENEDITO PEREIRA,206,JARDIM LIBANO,...,MTN,MTN,MTN,MTN,MTN,MTN,-23486142.0,-46733901.0,DIR,28-dez-17

In [63]:
data.drop(['T2D3D', 'T2D3D07', 'T2D3D08', 'T2D3D09', 'T2D3D10', 'T2D3D11', 'T2D3D12', 'T2D3D13', 'T2D3D14', 'T2D3D15', 'T2D3D16',
           'DTURNOS', 'DTURNOS07', 'DTURNOS08', 'DTURNOS09', 'DTURNOS10', 'DTURNOS11', 'DTURNOS12', 'DTURNOS13', 
           'DTURNOS14', 'DTURNOS15', 'DTURNOS16'], axis=1, inplace=True)

In [64]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DIRETORIA,SUBPREF,CEU,ENDERECO,NUMERO,BAIRRO,...,DT_CRIACAO,ATO_CRIACAO,DOM_CRIACAO,DT_INI_FUNC,DT_AUTORIZA,NOME_ANT,LATITUDE,LONGITUDE,REDE,DATABASE
0,G,86,EMEI,PAULO CAMILHIER FLORENCANO,GUAIANASES,GUAIANASES,NaN,RUA FELICIANO DE MENDONÇA,502,JARDIM SÃO PAULO(ZONA LESTE),...,13-jun-88,26.134,13-jun-88,22-set-88,16-mar-91,NaN,-23553905.0,-46398452.0,DIR,28-dez-17
1,FO,94,EMEI,VICENTE PAULO DA SILVA,FREGUESIA/BRASILANDIA,CASA VERDE/CACHOEIRINHA,NaN,RUA DOUTOR FLEURY SILVEIRA,295,VILA SANTA MARIA,...,04-jul-88,26.314,04-jul-88,01-ago-88,16-mar-91,NaN,-23489728.0,-46670198.0,DIR,28-dez-17
2,MP,108,EMEF,"JOSE ERMIRIO DE MORAIS, SEN.",SAO MIGUEL,SAO MIGUEL,NaN,RUA SAO BRAS DO SUACUI,159,JARDIM HELENA,...,05-jul-88,26.312,05-jul-88,01-set-88,13-mar-01,VILA NITRO OPERARIA,-23478312.0,-46427344.0,DIR,28-dez-17
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",BUTANTA,BUTANTA,NaN,AVENIDA JOAO CAIAFFA,140,JARDIM TABOAO,...,27-mai-88,26.003,27-mai-88,02-out-88,16-mar-91,NaN,-23612237.0,-46749888.0,DIR,28-dez-17
4,PJ,205,EMEBS,"VERA LUCIA APARECIDA RIBEIRO, PROFA.",PIRITUBA,PIRITUBA,NaN,RUA BENEDITO PEREIRA,206,JARDIM LIBANO,...,22-jun-88,26.229,22-jun-88,19-set-88,16-mar-91,NaN,-23486142.0,-46733901.0,DIR,28-dez-17

In [65]:
data['DATABASE'] = '28/12/2017'

In [66]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
DIRETORIA       object
SUBPREF         object
CEU             object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_FUNC     object
DT_AUTORIZA     object
NOME_ANT        object
LATITUDE       float64
LONGITUDE      float64
REDE            object
DATABASE        object
dtype: object

In [67]:
data.to_csv('data/Escolas/escolasr34dez2017T.csv', index=False, sep=';', encoding='utf-8')

In [102]:
data = pd.read_csv('data/Escolas/escolas122018.csv', delimiter=';')

In [103]:
data.head()

,ï»¿dre,codesc,tipoesc,nomesc,ceu,diretoria,subpref,endereco,numero,bairro,...,doc_criacao,dt_ini_conv,dt_ini_func,dt_autoriza,dt_extintao,nome_ant,rede,latitude,longitude,database
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Avenida JOAO CAIAFFA,140,JARDIM TABOAO,...,27/05/1988,NaN,02/10/1988,16/03/1991,NaN,"ALIPIO CORREA NETO, PROF.",DIR,-23.612.237,-46.749.888,30/12/2018
1,BT,213,EMEI,"ANTONIO CARLOS PACHECO E SILVA, PROF",NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Avenida JOÃÆO CAIAFFA,90,JARDIM TABOÃÆO,...,07/06/1988,NaN,26/09/1988,13/03/2001,NaN,"ANTONIO CARLOS PACHECO E SILVA, PROF.",DIR,-23.611.929,-46.750.176,30/12/2018
2,BT,477,EMEF,PROFA. EDA TEREZINHA CHICA MEDEIROS,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua ENGENHEIRO HUGO TAKAHASHI,333,RAPOSO TAVARES,...,26/10/1988,NaN,20/02/1989,16/03/1991,NaN,"EDA TEREZINHA CHICA MEDEIROS, PROFA.",DIR,-23.602.076,-46.783.825,30/12/2018
3,BT,11924,EMEF,PROFA. MARIA ALICE BORGES GHION,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua CACHOEIRA PORAQUÃÅ,575,CONJUNTO PROMORAR RAPOSO TAVARES,...,17/02/1992,NaN,20/02/1992,13/03/2001,NaN,"MARIA ALICE BORGES GHION, PROFA.",DIR,-23.586.959,-46.801.039,30/12/2018
4,BT,14591,EMEI,PROF. BENEDICTO CASTRUCCI,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua CACHOEIRA PORAQUE,S/N,CONJUNTO PROMORAR RAPOSO TAVARES,...,02/03/1994,NaN,13/04/1994,13/03/2001,NaN,CONJ. HABITACIONAL RAPOSO TAVARES,DIR,-23.586.339,-46.800.967,30/12/2018

In [104]:
print(data.dtypes)

ï»¿dre          object
codesc           int64
tipoesc         object
nomesc          object
ceu             object
diretoria       object
subpref         object
endereco        object
numero          object
bairro          object
cep              int64
tel1           float64
tel2            object
fax            float64
situacao        object
coddist          int64
distrito        object
setor            int64
codinep        float64
cd_cie         float64
eh              object
fx_etaria       object
dt_criacao      object
ato_criacao     object
doc_criacao     object
dt_ini_conv     object
dt_ini_func     object
dt_autoriza     object
dt_extintao     object
nome_ant        object
rede            object
latitude        object
longitude       object
database        object
dtype: object

In [105]:
data.rename(columns={'ï»¿dre' : 'DRE',
                     'codesc' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'ceu' : 'CEU',
                     'diretoria' : 'DIRETORIA',
                     'subpref' : 'SUBPREF',
                     'endereco' : 'ENDERECO',
                     'numero' : 'NUMERO',
                     'bairro' : 'BAIRRO',
                     'cep' : 'CEP',
                     'tel1' : 'TEL1',
                     'tel2' : 'TEL2',
                     'fax' : 'FAX',
                     'situacao' : 'SITUACAO',
                     'coddist' : 'CODDIST',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'codinep' : 'CODINEP',
                     'cd_cie' : 'CODCIE',
                     'eh' : 'EH',
                     'fx_etaria' : 'FX_ETARIA',
                     'dt_criacao' : 'DT_CRIACAO',
                     'ato_criacao' : 'ATO_CRIACAO',
                     'doc_criacao' : 'DOM_CRIACAO',
                     'dt_ini_conv' : 'DT_INI_CONV',
                     'dt_ini_func' : 'DT_INI_FUNC',
                     'dt_autoriza' : 'DT_AUTORIZA',
                     'dt_extintao' : 'DT_EXTINCAO',
                     'nome_ant' : 'NOME_ANT',
                     'rede' : 'REDE',
                     'latitude' : 'LATITUDE',
                     'longitude' : 'LONGITUDE',
                     'database' : 'DATABASE',
                    }, inplace=True)

In [106]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1           float64
TEL2            object
FAX            float64
SITUACAO        object
CODDIST          int64
DISTRITO        object
SETOR            int64
CODINEP        float64
CODCIE         float64
EH              object
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_INI_FUNC     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE        object
LONGITUDE       object
DATABASE        object
dtype: object

In [107]:
data['LATITUDE'] = pd.to_numeric(data['LATITUDE'], errors='coerce')
data['LONGITUDE'] = pd.to_numeric(data['LONGITUDE'], errors='coerce')
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['TEL1'] = data['TEL1'].astype(object)
data['FAX'] = data['FAX'].astype(object)

# Entendo que tem algumas coisas que deveriam ser de outro tipo, mas pelo enunciado do desafio
# tinha que seguir o mesmo formato de dados.



print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_INI_FUNC     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [108]:
data.to_csv('data/Escolas/escolas122018T.csv', index=False, sep=';', encoding='utf-8')

In [109]:
data = pd.read_csv('data/Escolas/escolas122019.csv', delimiter=';')

In [110]:
data.head()

,ï»¿dre,codesc,tipoesc,nomesc,ceu,diretoria,subpref,endereco,numero,bairro,...,dom_criacao,dt_ini_conv,dt_ini_func,dt_autoriza,dt_extintao,nome_ant,rede,latitude,longitude,database
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Avenida JOAO CAIAFFA,140,JARDIM TABOAO,...,27/05/1988,NaN,02/10/1988,16/03/1991,NaN,"ALIPIO CORREA NETO, PROF.",DIR,-23.612.237,-46.749.888,01/12/2019
1,BT,213,EMEI,"ANTONIO CARLOS PACHECO E SILVA, PROF",NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Avenida JOÃO CAIAFFA,90,JARDIM TABOÃO,...,07/06/1988,NaN,26/09/1988,13/03/2001,NaN,"ANTONIO CARLOS PACHECO E SILVA, PROF.",DIR,-23.611.929,-46.750.176,01/12/2019
2,BT,477,EMEF,PROFA. EDA TEREZINHA CHICA MEDEIROS,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua ENGENHEIRO HUGO TAKAHASHI,333,RAPOSO TAVARES,...,26/10/1988,NaN,20/02/1989,16/03/1991,NaN,"EDA TEREZINHA CHICA MEDEIROS, PROFA.",DIR,-23.602.076,-46.783.825,01/12/2019
3,BT,11924,EMEF,PROFA. MARIA ALICE BORGES GHION,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua CACHOEIRA PORAQUÃ,575,CONJUNTO PROMORAR RAPOSO TAVARES,...,17/02/1992,NaN,20/02/1992,13/03/2001,NaN,COHAB RAPOSO TAVARES,DIR,-23.586.959,-46.801.039,01/12/2019
4,BT,14591,EMEI,PROF. BENEDICTO CASTRUCCI,NaN,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,BUTANTA,Rua CACHOEIRA PORAQUE,S/N,CONJUNTO PROMORAR RAPOSO TAVARES,...,02/03/1994,NaN,13/04/1994,13/03/2001,NaN,CONJ. HABITACIONAL RAPOSO TAVARES,DIR,-23.586.339,-46.800.967,01/12/2019

In [111]:
data.rename(columns={'ï»¿dre' : 'DRE',
                     'codesc' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'ceu' : 'CEU',
                     'diretoria' : 'DIRETORIA',
                     'subpref' : 'SUBPREF',
                     'endereco' : 'ENDERECO',
                     'numero' : 'NUMERO',
                     'bairro' : 'BAIRRO',
                     'cep' : 'CEP',
                     'tel1' : 'TEL1',
                     'tel2' : 'TEL2',
                     'fax' : 'FAX',
                     'situacao' : 'SITUACAO',
                     'coddist' : 'CODDIST',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'codinep' : 'CODINEP',
                     'cd_cie' : 'CODCIE',
                     'eh' : 'EH',
                     'fx_etaria' : 'FX_ETARIA',
                     'dt_criacao' : 'DT_CRIACAO',
                     'ato_criacao' : 'ATO_CRIACAO',
                     'doc_criacao' : 'DOM_CRIACAO',
                     'dt_ini_conv' : 'DT_INI_CONV',
                     'dt_ini_func' : 'DT_INI_FUNC',
                     'dt_autoriza' : 'DT_AUTORIZA',
                     'dt_extintao' : 'DT_EXTINCAO',
                     'nome_ant' : 'NOME_ANT',
                     'rede' : 'REDE',
                     'latitude' : 'LATITUDE',
                     'longitude' : 'LONGITUDE',
                     'database' : 'DATABASE',
                    }, inplace=True)

In [112]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1           float64
TEL2            object
FAX            float64
SITUACAO        object
CODDIST          int64
DISTRITO        object
SETOR            int64
CODINEP        float64
CODCIE         float64
EH              object
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
dom_criacao     object
DT_INI_CONV     object
DT_INI_FUNC     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE        object
LONGITUDE       object
DATABASE        object
dtype: object

In [113]:
data['LATITUDE'] = pd.to_numeric(data['LATITUDE'], errors='coerce')
data['LONGITUDE'] = pd.to_numeric(data['LONGITUDE'], errors='coerce')
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['TEL1'] = data['TEL1'].astype(object)
data['FAX'] = data['FAX'].astype(object)

print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
dom_criacao     object
DT_INI_CONV     object
DT_INI_FUNC     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [114]:
data.to_csv('data/Escolas/escolas122019T.csv', index=False, sep=';', encoding='utf-8')

In [172]:
data = pd.read_csv('data/Escolas/escolas122020.csv', delimiter=';')

In [173]:
data.head()

,dre,codesc,tipoesc,nomesc,nomescofi,CEU,diretoria,subpref,ENDERECO,NUMERO,...,ATO_CRIACAO,DOM_CRIACAO,DT_INI_CONV,DT_AUTORIZA,dt_extincao,NOME_ANT,REDE,LATITUDE,LONGITUDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.","ALIPIO CORREA NETO, PROF",NaN,BUTANTA,BUTANTA,AVENIDA JOAO CAIAFFA,140,...,26.003,27/05/1988 00:00,NaN,16/03/1991 00:00,NaN,NaN,DIR,-23612237,-46749888,31/12/2020 00:00
1,BT,213,EMEI,"ANTONIO CARLOS PACHECO E SILVA, PROF.","ANTONIO CARLOS PACHECO E SILVA, PROF",NaN,BUTANTA,BUTANTA,AVENIDA JOÃO CAIAFFA,90,...,26.117,07/06/1988 00:00,NaN,13/03/2001 00:00,NaN,NaN,DIR,-23611929,-46750176,31/12/2020 00:00
2,BT,477,EMEF,"EDA TEREZINHA CHICA MEDEIROS, PROFA.",PROFA. EDA TEREZINHA CHICA MEDEIROS,NaN,BUTANTA,BUTANTA,RUA ENGENHEIRO HUGO TAKAHASHI,333,...,27.212,26/10/1988 00:00,NaN,16/03/1991 00:00,NaN,JARDIM EDUCANDARIO,DIR,-23602076,-46783825,31/12/2020 00:00
3,BT,11924,EMEF,"MARIA ALICE BORGES GHION, PROFA.",PROFA. MARIA ALICE BORGES GHION,NaN,BUTANTA,BUTANTA,RUA CACHOEIRA PORAQUÊ,575,...,31.240,17/02/1992 00:00,NaN,13/03/2001 00:00,NaN,COHAB RAPOSO TAVARES,DIR,-23586959,-46801039,31/12/2020 00:00
4,BT,14591,EMEI,"BENEDICTO CASTRUCCI, PROF.",PROF. BENEDICTO CASTRUCCI,NaN,BUTANTA,BUTANTA,RUA CACHOEIRA PORAQUE,S/N,...,34.005,02/03/1994 00:00,NaN,13/03/2001 00:00,NaN,CONJ. HABITACIONAL RAPOSO TAVARES,DIR,-23586339,-46800967,31/12/2020 00:00

In [174]:
print(data.dtypes)

dre             object
codesc           int64
tipoesc         object
nomesc          object
nomescofi       object
CEU             object
diretoria       object
subpref         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
coddist          int64
distrito        object
setor            int64
codinep        float64
cd_cie         float64
eh              object
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_AUTORIZA     object
dt_extincao    float64
NOME_ANT        object
REDE            object
LATITUDE         int64
LONGITUDE        int64
DATABASE        object
dtype: object

In [175]:
data.rename(columns={'dre' : 'DRE',
                     'codesc' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'diretoria' : 'DIRETORIA',
                     'subpref' : 'SUBPREF',
                     'coddist' : 'CODDIST',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'codinep' : 'CODINEP',
                     'cd_cie' : 'CODCIE',
                     'eh' : 'EH',
                     'dt_extincao' : 'DT_EXTINCAO',
                    }, inplace=True)

data.drop(['nomescofi'], axis=1, inplace=True)

data['LATITUDE'] = data['LATITUDE'].astype(float)
data['LONGITUDE'] = data['LONGITUDE'].astype(float)
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['TEL1'] = data['TEL1'].astype(object)
data['FAX'] = data['FAX'].astype(object)

print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_AUTORIZA     object
DT_EXTINCAO    float64
NOME_ANT        object
REDE            object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [176]:
data.to_csv('data/Escolas/escolas122020T.csv', index=False, sep=';', encoding='utf-8')

In [225]:
data = pd.read_csv('data/Escolas/escolas122021.csv', delimiter=';')

In [226]:
data.head()

,DRE,CODESC,TIPOESC,NOMES,NOMESCOFI,CEU,DIRETORIA,SUBPREF,ENDERECO,NUMERO,...,ATO_CRIACAO,DOM_CRIACAO,DT_INI_CONV,DT_AUTORIZA,DT_EXTINCAO,NOME_ANT,REDE,LATITUDE,LONGITUDE,DATABASE
0,BT,307207,ESC.PART.,A HEBRAICA,A HEBRAICA,NaN,BUTANTA,PINHEIROS,RUA HUNGRIA,1000,...,3,01/fev/10,NaN,06/fev/10,NaN,NaN,PAR,-23578930,-46694078,31/dez/21
1,BT,307412,ESC.PART.,ABCD SOFIA,ABCD SOFIA,NaN,BUTANTA,BUTANTA,RUA OTÁVIO PEDREIRO ROSA,212,...,62,10/nov/10,NaN,12/nov/10,NaN,NaN,PAR,-23583388,-46760545,31/dez/21
2,BT,307131,ESC.PART.,"ACONCHEGO, ESCOLA","ACONCHEGO, ESCOLA",NaN,BUTANTA,BUTANTA,RUA QUITANDUBA,50,...,85,21/ago/09,NaN,NaN,NaN,NaN,PAR,-23583061,-46715523,31/dez/21
3,BT,306549,ESC.PART.,ADOLPHE FERRIERE,ADOLPHE FERRIERE,NaN,BUTANTA,BUTANTA,RUA FRANCISCO PRETO,457,...,NaN,NaN,NaN,21/out/03,NaN,NaN,PAR,-23603215,-46726799,31/dez/21
4,BT,92754,EMEF,"ALCIDES GONCALVES ETCHEGOYEN, GEN.","ALCIDES GONCALVES ETCHEGOYEN, GEN.",NaN,BUTANTA,BUTANTA,RUA ADHERBAL STRESSER,686,...,9.332,16/fev/71,NaN,10/abr/81,NaN,ARPOADOR,DIR,-23594749,-46791369,31/dez/21

In [227]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMES           object
NOMESCOFI       object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST          int64
DISTRITO        object
SETOR            int64
CODINEP          int64
CD_CIE         float64
EH              object
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE         int64
LONGITUDE        int64
DATABASE        object
dtype: object

In [228]:
data.rename(columns={'CD_CIE' : 'CODCIE'}, inplace=True)

data['DATABASE'] = '31/12/2021'

data.drop(['NOMESCOFI', 'DT_CRIACAO', 'DT_INI_CONV', 'DT_AUTORIZA', 'DT_EXTINCAO', 'DOM_CRIACAO'], axis=1, inplace=True)
data['LATITUDE'] = data['LATITUDE'].astype(float)
data['LONGITUDE'] = data['LONGITUDE'].astype(float)
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['CODINEP'] = data['CODINEP'].astype(float)


print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMES           object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA       object
ATO_CRIACAO     object
NOME_ANT        object
REDE            object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [229]:
data.to_csv('data/Escolas/escolas122021T.csv', index=False, sep=';', encoding='utf-8')

In [187]:
data = pd.read_csv('data/Escolas/escolas122022.csv', delimiter=';')

In [188]:
data.head()

,DRE,CODESC,TIPOESC,NOMES,NOMESCOFI,CEU,DIRETORIA,SUBPREF,ENDERECO,NUMERO,...,ATO_CRIACAO,DOM_CRIACAO,DT_INI_CONV,DT_AUTORIZA,DT_EXTINCAO,NOME_ANT,REDE,LATITUDE,LONGITUDE,DATABASE
0,BT,307207,ESC.PART.,A HEBRAICA,A HEBRAICA,NaN,BUTANTA,PINHEIROS,RUA HUNGRIA,1000,...,3,01/02/2010,NaN,06/fev/10,NaN,NaN,NaN,-23578930,-46694078,31/12/2022
1,BT,307412,ESC.PART.,ABCD SOFIA,ABCD SOFIA,NaN,BUTANTA,BUTANTA,RUA OTÁVIO PEDREIRO ROSA,212,...,62,10/11/2010,NaN,12/nov/10,NaN,NaN,NaN,-23583388,-46760545,31/12/2022
2,BT,307131,ESC.PART.,"ACONCHEGO, ESCOLA","ACONCHEGO, ESCOLA",NaN,BUTANTA,BUTANTA,RUA QUITANDUBA,50,...,85,21/08/2009,NaN,NaN,NaN,NaN,NaN,-23583061,-46715523,31/12/2022
3,BT,400003,CEI DIRET,"ALOYSIO DE MENEZES GREENHALGH, VER.","ALOYSIO DE MENEZES GREENHALGH, VER.",NaN,BUTANTA,BUTANTA,RUA DOUTOR FRANCISCO PATI,375,...,24.765,16/10/1987,NaN,22/mai/07,NaN,VILA SAO FRANCISCO,NaN,-23557659,-46759414,31/12/2022
4,BT,92754,EMEF,"ALCIDES GONCALVES ETCHEGOYEN, GEN.","ALCIDES GONCALVES ETCHEGOYEN, GEN.",NaN,BUTANTA,BUTANTA,RUA ADHERBAL STRESSER,686,...,9.332,16/02/1971,NaN,10/abr/81,NaN,ARPOADOR,NaN,-23594749,-46791369,31/12/2022

In [189]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMES           object
NOMESCOFI       object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST          int64
DISTRITO        object
SETOR            int64
CODINEP        float64
CD_CIE         float64
EH              object
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_AUTORIZA     object
DT_EXTINCAO    float64
NOME_ANT        object
REDE           float64
LATITUDE         int64
LONGITUDE        int64
DATABASE        object
dtype: object

In [190]:
data.rename(columns={'CD_CIE' : 'CODCIE'}, inplace=True)
data.drop(['NOMESCOFI'], axis=1, inplace=True)

data['LATITUDE'] = data['LATITUDE'].astype(float)
data['LONGITUDE'] = data['LONGITUDE'].astype(float)
data['REDE'] = data['REDE'].astype(object)
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['DT_EXTINCAO'] = data['DT_EXTINCAO'].astype(object)

print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMES           object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
CODDIST        float64
DISTRITO        object
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA       object
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV     object
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
REDE            object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [191]:
data.to_csv('data/Escolas/escolas122022T.csv', index=False, sep=';', encoding='utf-8')

In [211]:
data = pd.read_csv('data/Escolas/escolas122023.csv', delimiter=';')

In [212]:
data.head()

,DRE,CODESC,TIPOESC,NOMES,DESLOC,CEU,DIRETORIA,SUBPREF,ENDERECO,NUMERO,...,ATO_CRIACAO,DOM_CRIACAO,DT_INI_CONV,DT_AUTORIZA,DT_EXTINCAO,FX_ETARIA.1,NOME_ANT,LATITUDE,LONGITUDE,DATABASE
0,G,86,EMEI,PAULO CAMILHIER FLORENCANO,PAULO CAMILHIER FLORENCANO,NaN,GUAIANASES,GUAIANASES,RUA FELICIANO DE MENDONCA,502,...,26.134,13/06/1988,NaN,16/03/1991,NaN,NaN,NaN,-23553905,-46398452,25/12/2023
1,FO,94,EMEI,VICENTE PAULO DA SILVA,VICENTE PAULO DA SILVA,NaN,FREGUESIA/BRASILANDIA,CASA VERDE/CACHOEIRINHA,RUA DOUTOR FLEURY SILVEIRA,295,...,26.314,04/07/1988,NaN,16/03/1991,NaN,NaN,NaN,-23489728,-46670198,25/12/2023
2,MP,108,EMEF,"JOSE ERMIRIO DE MORAES, SEN.","JOSE ERMIRIO DE MORAES, SEN.",NaN,SAO MIGUEL,SAO MIGUEL,RUA SAO BRAS DO SUACUI,159,...,26.312,05/07/1988,NaN,13/03/2001,NaN,NaN,VILA NITRO OPERARIA,-23478312,-46427344,25/12/2023
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.","ALIPIO CORREA NETO, PROF.",NaN,BUTANTA,BUTANTA,AVENIDA JOAO CAIAFFA,140,...,26.003,27/05/1988,NaN,16/03/1991,NaN,NaN,NaN,-23612237,-46749888,25/12/2023
4,PJ,205,EMEBS,"VERA LUCIA APARECIDA RIBEIRO, PROFA.","VERA LUCIA APARECIDA RIBEIRO, PROFA.",NaN,PIRITUBA,PIRITUBA,RUA BENEDITO PEREIRA,206,...,26.229,22/06/1988,NaN,16/03/1991,NaN,NaN,NaN,-23486142,-46733901,25/12/2023

In [213]:
print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMES           object
DESLOC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
DISTRITO        object
CDIST            int64
SETOR            int64
CODINEP        float64
CD_CIE         float64
EH              object
FX_ETARIA      float64
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV    float64
DT_AUTORIZA     object
DT_EXTINCAO     object
FX_ETARIA.1     object
NOME_ANT        object
LATITUDE         int64
LONGITUDE        int64
DATABASE        object
dtype: object

In [214]:
data.rename(columns={'CDIST' : 'CODDIST',
                     'CD_CIE' : 'CODCIE',
                     'NOMES' : 'NOMESC'
                    }, inplace=True)

data.drop(['DESLOC', 'FX_ETARIA.1'], axis=1, inplace=True)

data['LATITUDE'] = data['LATITUDE'].astype(float)
data['LONGITUDE'] = data['LONGITUDE'].astype(float)
data['EH'] = pd.to_numeric(data['EH'], errors='coerce')
data['SETOR'] = data['SETOR'].astype(float)
data['CODDIST'] = data['CODDIST'].astype(float)
data['DT_EXTINCAO'] = data['DT_EXTINCAO'].astype(object)

print(data.dtypes)

DRE             object
CODESC           int64
TIPOESC         object
NOMESC          object
CEU             object
DIRETORIA       object
SUBPREF         object
ENDERECO        object
NUMERO          object
BAIRRO          object
CEP              int64
TEL1            object
TEL2            object
FAX             object
SITUACAO        object
DISTRITO        object
CODDIST        float64
SETOR          float64
CODINEP        float64
CODCIE         float64
EH             float64
FX_ETARIA      float64
DT_CRIACAO      object
ATO_CRIACAO     object
DOM_CRIACAO     object
DT_INI_CONV    float64
DT_AUTORIZA     object
DT_EXTINCAO     object
NOME_ANT        object
LATITUDE       float64
LONGITUDE      float64
DATABASE        object
dtype: object

In [215]:
data.to_csv('data/Escolas/escolas122023T.csv', index=False, sep=';', encoding='utf-8')