In [58]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
# Carreguei as 3 primeiras tabelas no banco de dados, tive o entendimento que os dados poderiam não
# a qualidade necessária e resolvi tratar as tabelas antes de colocar elas no banco.

# As tabelas tem respeitado as seguintes colunas:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]

In [63]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez19.csv', delimiter=';')

In [64]:
data.shape

(534975, 19)

In [65]:
data.head()

,dre,codes,tipoesc,nomesc,distrito,setor,ano,rede,modal,descserie,periodo,turno,descturno,sexo,idade,nee,raca,qtd,database
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,F,13.0,NAO POSSUI,BRANCA,1,27/12/2019
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,BRANCA,2,27/12/2019
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,PARDA,1,27/12/2019
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,RECUSOU INFORMAR,1,27/12/2019
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,13.0,NAO POSSUI,BRANCA,1,27/12/2019

In [66]:
data.rename(columns={'dre' : 'DRE',
                     'codes' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'ano' : 'ANO',
                     'rede' : 'REDE',
                     'modal' : 'MODAL',
                     'descserie' : 'DESCSERIE',
                     'periodo' : 'PERIODO',
                     'turno' : 'TURNO',
                     'descturno' : 'DESCTURNO',
                     'sexo' : 'SEXO',
                     'idade' : 'IDADE',
                     'nee' : 'NEE',
                     'raca' : 'RACA',
                     'qtd' : 'QTDE',
                     'database' : 'DATABASE',
                    }, inplace=True)

In [67]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

np.int64(0)

In [68]:
blank_columns = data.isnull().sum()
print(blank_columns)

DRE             0
CODESC          0
TIPOESC         0
NOMESC          0
DISTRITO        0
SETOR           0
ANO             0
REDE         8445
MODAL           0
DESCSERIE       0
PERIODO         0
TURNO           0
DESCTURNO       0
SEXO            0
IDADE           0
NEE             0
RACA           74
QTDE            0
DATABASE        0
dtype: int64

In [69]:
total = data['QTDE'].sum()

filtered_rede = (data['REDE'] == 'DIR')
filtered_rede = data[filtered_rede]
qtde_rede = filtered_rede['QTDE'].sum()

print(qtde_rede/total) # Olhando quantos % tem dir como rede

0.7644615193267091

In [70]:
data.fillna({'RACA': 'NAO INFORMADA'}, inplace=True) # Utilizando classificações que já existiam no dataset
data.fillna({'REDE': 'DIR'}, inplace=True) # Setei tudo com DIR porque era uma classe muito predominante

In [71]:
blank_columns = data.isnull().sum()
print(blank_columns)

DRE          0
CODESC       0
TIPOESC      0
NOMESC       0
DISTRITO     0
SETOR        0
ANO          0
REDE         0
MODAL        0
DESCSERIE    0
PERIODO      0
TURNO        0
DESCTURNO    0
SEXO         0
IDADE        0
NEE          0
RACA         0
QTDE         0
DATABASE     0
dtype: int64

In [72]:
data.describe()

,CODESC,SETOR,ANO,TURNO,IDADE,QTDE
count,534975.000000,534975.000000,534975.0,534975.000000,534975.000000,534975.000000
mean,203780.271839,4676.910093,2019.0,3.308207,14.899517,3.381513
std,210802.900712,2624.286317,0.0,1.914513,15.807317,4.431808
min,86.000000,101.000000,2019.0,1.000000,0.000000,1.000000
25%,19631.000000,2405.000000,2019.0,1.000000,5.000000,1.000000
50%,94633.000000,4208.000000,2019.0,3.000000,11.000000,2.000000
75%,308454.000000,6902.000000,2019.0,5.000000,15.000000,4.000000
max,700045.000000,9608.000000,2019.0,6.000000,119.000000,92.000000

In [73]:
data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 30, 40, 50, 60, 100, 110, 120], right=False)

print(data['age_range'].value_counts())

# Por ser o primeiro dataset que eu peguei para analisar os dados, resolvi ver um pouco sobre essas idades.

data = data.drop(['age_range'], axis=1)

age_range
[3, 4)        34650
[2, 3)        33629
[11, 12)      33299
[12, 13)      32077
[13, 14)      31462
[14, 15)      31360
[4, 5)        30568
[10, 11)      29937
[16, 20)      29436
[15, 16)      25895
[1, 2)        24872
[9, 10)       24497
[5, 6)        24299
[40, 50)      21000
[8, 9)        19372
[20, 30)      18992
[6, 7)        18663
[60, 100)     17886
[50, 60)      17701
[30, 40)      17016
[7, 8)        14550
[0, 1)         3781
[110, 120)       32
[100, 110)        1
Name: count, dtype: int64

In [74]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()

total = data['QTDE'].sum()

print(qtde_age/total)
# Pensando na regra de negócio, acho que seja mais interessante trabalhar em cima do público 
# -19 anos, tendo em vista que representam mais de 93% dos estudantes. 
# (Pode se ter a abordagem de dados espúrio, o que claramente vai ter, mas resolvi tratar eliminando.)

data = filtered_age

data['age_range'] = pd.cut(data['IDADE'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 120], right=False)

print(data['age_range'].value_counts())

0.9331120354887301
age_range
[3, 4)       34650
[2, 3)       33629
[11, 12)     33299
[12, 13)     32077
[13, 14)     31462
[14, 15)     31360
[4, 5)       30568
[10, 11)     29937
[16, 20)     29436
[15, 16)     25895
[1, 2)       24872
[9, 10)      24497
[5, 6)       24299
[8, 9)       19372
[6, 7)       18663
[7, 8)       14550
[0, 1)        3781
[20, 120)        0
Name: count, dtype: int64

In [75]:
data.describe()

,CODESC,SETOR,ANO,TURNO,IDADE,QTDE
count,442347.000000,442347.000000,442347.0,442347.000000,442347.000000,442347.000000
mean,171041.733282,4713.806518,2019.0,3.259486,8.623151,3.816061
std,179099.539881,2643.082425,0.0,1.956202,4.914302,4.746535
min,86.000000,101.000000,2019.0,1.000000,0.000000,1.000000
25%,19463.000000,2501.000000,2019.0,1.000000,4.000000,1.000000
50%,94200.000000,4208.000000,2019.0,3.000000,9.000000,2.000000
75%,307747.000000,7102.000000,2019.0,6.000000,13.000000,4.000000
max,700045.000000,9608.000000,2019.0,6.000000,19.000000,92.000000

In [76]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE,age_range
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,F,13.0,NAO POSSUI,BRANCA,1,27/12/2019,"[13, 14)"
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,BRANCA,2,27/12/2019,"[12, 13)"
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,PARDA,1,27/12/2019,"[12, 13)"
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,12.0,NAO POSSUI,RECUSOU INFORMAR,1,27/12/2019,"[12, 13)"
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF",VILA SONIA,9404,2019,DIR,ATCOMP,ESPORTE - TABULEIRO - XADREZ,DIURNO,3,Tarde,M,13.0,NAO POSSUI,BRANCA,1,27/12/2019,"[13, 14)"

In [34]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez19T.csv', index=False, sep=';', encoding='utf-8')

In [77]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez20.csv', delimiter=';')
data.shape

(357201, 19)

In [78]:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]

data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,Qtde,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [79]:
data.rename(columns={'Qtde' : 'QTDE'}, inplace=True)
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [80]:
blank_lines = data.isnull().all(axis=1)
blank_total = blank_lines.sum()
blank_total

blank_columns = data.isnull().sum()

print(blank_total)
print(blank_columns)

0
DRE            0
CODESC         0
TIPOESC        0
NOMESC         0
DISTRITO       0
SETOR          0
ANO            0
REDE           0
MODAL          0
DESCSERIE      0
PERIODO        0
TURNO          0
DESCTURNO      0
SEXO         482
IDADE        482
NEE            0
RACA           0
QTDE           0
DATABASE       0
dtype: int64

In [81]:
total = data['QTDE'].sum()

blank_lines = data.isnull().any(axis=1)
blank_data = data[blank_lines]
qtde_blank = blank_data['QTDE'].sum()

print(qtde_blank/total) # Por ser menos de 1%, vou dropar quem está com essas infomações brancas

data.dropna(inplace=True)

0.015355532217211343

In [86]:
filtered_age = (data['IDADE'] < 20)
filtered_age = data[filtered_age]
qtde_age = filtered_age['QTDE'].sum()
total = data['QTDE'].sum()

print(qtde_age/total)

data = filtered_age
print(data['age_range'].value_counts())

data = data.drop(['age_range'], axis=1)

1.0
age_range
[3, 4)       28960
[2, 3)       27703
[4, 5)       25961
[1, 2)       21250
[16, 20)     19644
[5, 6)       19353
[13, 14)     18592
[12, 13)     18563
[11, 12)     18373
[14, 15)     18093
[10, 11)     16852
[6, 7)       14735
[15, 16)     14605
[9, 10)      14215
[8, 9)       11677
[7, 8)        9680
[0, 1)        4771
[20, 120)        0
Name: count, dtype: int64

In [87]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,QTDE,DATABASE
0,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,BRANCA,2,31/12/2020
1,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,6.0,NAO POSSUI,RECUSOU INFORMA,1,31/12/2020
2,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,BRANCA,7,31/12/2020
3,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,PARDA,10,31/12/2020
4,BT,191,EMEF,"ALIPIO CORREA NETO, PROF.",VILA SONIA,9404,2020,DIR,FUND,C.I 1.ANO F9,Diurno,3,Tarde,F,7.0,NAO POSSUI,RECUSOU INFORMA,3,31/12/2020

In [88]:
data.to_csv('data/PerfilDosEducandos/idadeserieneeracadez20T.csv', index=False, sep=';', encoding='utf-8')

In [89]:
data = pd.read_csv('data/PerfilDosEducandos/idadeserieneeracadez21.csv', delimiter=';')
data.shape

(293817, 19)

In [90]:
data.head()

,DRE,CODESC,TIPOESC,NOMESC,DISTRITO,SETOR,ANO,REDE,MODAL,DESCSERIE,PERIODO,TURNO,DESCTURNO,SEXO,IDADE,NEE,RACA,Qtde,DATABASE
0,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,5.0,NAO POSSUI,BRANCA,1,31/12/2021
1,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PARDA,1,31/12/2021
2,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,6.0,NAO POSSUI,PRETA,1,31/12/2021
3,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,BRANCA,3,31/12/2021
4,BT,700000,CEU AT COM,"BUTANTA - ELIZABETH GASPAR TUNALA, PROFA.",RIO PEQUENO,6704,2021,DIR,ATCOMP,ATCOMP,DIURNO,1,Manhã,F,8.0,NAO POSSUI,NÃO DECLARADA,2,31/12/2021

In [ ]:
# As tabelas tem respeitado as seguintes colunas:
# [DRE, CODESC, TIPOESC, NOMESC, DISTRITO, SETOR, ANO, REDE, MODAL, MODALID, SERIEV, DESCSERIE, PERIODO, TURNO, DESCTURNO,
# SEXO, IDADE, NEE, RACA, QTDE, DATABASE]
data.rename(columns={'dre' : 'DRE',
                     'codes' : 'CODESC',
                     'tipoesc' : 'TIPOESC',
                     'nomesc' : 'NOMESC',
                     'distrito' : 'DISTRITO',
                     'setor' : 'SETOR',
                     'ano' : 'ANO',
                     'rede' : 'REDE',
                     'modal' : 'MODAL',
                     'descserie' : 'DESCSERIE',
                     'periodo' : 'PERIODO',
                     'turno' : 'TURNO',
                     'descturno' : 'DESCTURNO',
                     'sexo' : 'SEXO',
                     'idade' : 'IDADE',
                     'nee' : 'NEE',
                     'raca' : 'RACA',
                     'qtd' : 'QTDE',
                     'database' : 'DATABASE',
                    }, inplace=True)